<!DOCTYPE html>
<html>
<head>
    <title>GYM FORCE</title>

    <link rel="stylesheet" type="text/css" href=".\Estilos\menu.css">
    <script src="js/login.js"></script>
  
    <ul>
  <li><a href="index.html">INICIO</a></li>
  <li><a href="contacto.html">CONTACTENOS</a></li>
  <li><a href="acerca.html">ACERCA DE</a></li>
  <li style="float:right"><a href="Registro.html">Registro</a></li>
  <li style="float:right"><a href="login.html">Iniciar Sesión</a></li>
</ul>
 <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="./Estilos/inicios.css" th:href="@{/Estilos/inicios.css}">
   

<body>

    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="./img/user.jpg" th:src="@{/img/user.jpg}"/>
                </div>
                
                
                    <form action="" method="get" class="form-register" onsubmit="return iniciar();">
                    <div class="form-group" id="user-group">
                        <input type="text" id="usuario" name="usuario" minlength="5" maxlength="20" placeholder="Usuario" class="input-100" required>
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" id="clave" name="clave" placeholder="Password" minlength="5" maxlength="20" class="input-100" required>
                    </div>
                    <input type="submit" id="btn" class="btn btn-primary" value="Iniciar Sesion">
                    <a  class="btn btn-primary" href="registro.html" style="text-decoration:none">Registrarse</a>


                 
                </form>
               
            </div>
        </div>
    </div>



</body>
</html>