<!DOCTYPE html>
<html>
<head>
	<title>GYM FORCE</title>

	<link rel="stylesheet" type="text/css" href=".\Estilos\menu.css">
  
     <ul>
  <li><a href="index.html">INICIO</a></li>
  <li><a href="contacto.html">CONTACTENOS</a></li>
  <li><a href="acerca.html">ACERCA DE</a></li>
  <li style="float:right"><a href="Registro.html">Registro</a></li>
  <li style="float:right"><a href="login.html">Iniciar Sesión</a></li>
</ul>
<script type="text/javascript" src=".\js\validaciones.js"></script>
 <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="./Estilos/inicios.css" th:href="@{/Estilos/inicios.css}">

<body>
    <title>Formulario Registro</title>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="./img/user.jpg" th:src="@{/img/user.jpg}"/>
                   
                </div>
           <h2>Registro de Usuario</h2>
                <form action="" method="get" class="form-register" onsubmit="return validar();">


                <form class="col-12" th:action="@{/login}" method="get">

                    <div class="form-group" id="user-group">
                     <input type="text" id="nombre" name="nombre" placeholder="Nombre" minlength="3" maxlength="20" required pattern="[A-Za-z]+" class="form-control">

                    </div>
                    <div class="form-group" id="user-group">
                     <input type="text" id="edad" name="edad" placeholder="Edad"    class="form-control" required> 

                    </div>
                    <div class="form-group" id="user-group">
                       <input type="text" id="sexo" name="sexo" placeholder="Sexo" class="form-control" required>

                    </div>
                    <div class="form-group" id="user-group">
                     <input type="email" id="correo" name="correo" placeholder="Correo electronico" class="form-control" required>

                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" id="clave" name="clave" placeholder="Password" minlength="5" maxlength="20"class="form-control" required>

                    </div>
                   
                   <input type="submit" id="btn" value="Registrar" href="login.html" class="btn btn-primary">


        

                 
                </form>
               
            </div>
        </div>
    </div>



</body>
</html>