section{
width: 870px; 
margin: auto;
background-color: solid;
shape-margin: 100px;
column-span: 80px;
}
 body{
    background: url(../img/portada.jpg) no-repeat center center fixed;
    background-size: cover;
}


table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}



thead{
	background-color: #75D823;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}


.container{
background-color:#FFFC33;
width: 8px;
}
button{
    background-color:#333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}