@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 2px;
    font-family: 'open sans';
    background: url(../img/portada.jpg);
    background-size: contain;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#18F9D7;

}

li {
  float: left;
  border-right:1px color: #f2f2f2;;

}
li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
 background-color: #ddd;
color: black;
}        
.nav li ul {
display:none;
position:absolute;

}
.nav li:hover > ul {
  background-color: #ddd;
  color: black;
  display: block;
  text-align: center;
  padding: 8px 4px;
 
}     
.nav li ul li {
overflow: hidden;
 background-color: #333;
}  
.nav li ul li ul {
overflow: hidden;
background-color: #333;
}
.topnav {
  float: auto;
  overflow: hidden;
  background-color: #333;
}

.topnav a {

  color:#f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

}
h1 {
    font-family: 'open sans';
    letter-spacing: 1.5px;
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/* Estilo de header*/

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#FF0000;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.h11 {
    margin-top: 40px;
    color: #fff;
    text-align: center;
}

.form-register{
    width: 95%;
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius:  8px;

}

.form__titulo {
    background: #66E544;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #DE9DAB;
}

.contenedor-inputs {
    background: #66E544;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
}

textarea {

    min-height: 75px;
    max-height: 100px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    padding-bottom: 20px;
}

select {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.input-48 {
    width: 33%;
    text-align: center;
}

.input-50 {
    width: 50%;
    text-align: center;
}

.input-100 {
    width: 100%;
}

.btn-enviar {
    background: #DE9DAB;
    color: #000;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 19px;
}

.btn-enviar:hover {
    background: #6591D6;
    color: #000;
    transform: scale(1.05);
}

.btn-cancelar {
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 19px;
}

.btn-cancelar:hover {
    background: #00bd10;
    color: #000;
    transform: scale(1.05);
}

.btn-enviar:active {
    transform: scale(1.15);
}

.form__link {
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}


@media(min-width:1024px) {

    .contenedor {
        width: 1000px;
    }

    .nav {
        position: static;
        width: auto;
        margin: 10px;
    }
    
    .fa-bars {
        visibility: hidden;;
    }
   
}
@media(min-width:1072px) {

    .contenedor {
        width: 1060px;
    }
}
@media(min-width:1216px) {

    .contenedor {
        width: 1180px;
    }
}