ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#18F9D7;

}

li {
  float: left;
  border-right:1px color: #f2f2f2;;

}
li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
 background-color: #ddd;
color: black;
}        
.nav li ul {
display:none;
position:absolute;

}
.nav li:hover > ul {
  background-color: #ddd;
  color: black;
  display: block;
  text-align: center;
  padding: 8px 4px;
 
}     
.nav li ul li {
overflow: hidden;
 background-color: #333;
}  
.nav li ul li ul {
overflow: hidden;
background-color: #333;
}
.topnav {
  float: auto;
  overflow: hidden;
  background-color: #333;
}

.topnav a {

  color:#f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

}

header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  margin-right: 100px;
  color: #f2f2f2;
  position:center;
}



      
